{% extends 'base.html' %}

{% block section %}

<div class="container py-5">
  <h2 class="text-center mb-4" style="color:#e50914;">Choose Your Plan</h2>

  <!-- Create Button for Admin -->
  <div class="d-flex justify-content-end btn-wrap mb-3">
    {% allowed_roles request '["Admin"]' as allow %}
    {% if allow %}
    <a class="btn btn-outline-accent btn-accent-arrow"
       style="background-color: black; color: white; border-color: black;"
       href="{% url 'subscription-plan-create' %}">
        Create Subscription Plan 
        <i class="icon icon-ns-arrow-right"></i>
    </a>
    {% endif %}
  </div>

  <div class="row g-4">

    {% for plan in plans %}
    <div class="col-md-4">
      <div class="card h-100 text-center plan-card"
           onclick="highlightCard(this)"
           style="background-color:#1a1a1a; border:1px solid #2a2a2a; color:#fff; position:relative;">

        <!-- Admin Edit + Delete Icons -->
        {% allowed_roles request '["Admin"]' as allow %}
        {% if allow %}
        <div style="position:absolute; top:10px; right:10px; z-index:10;">
            <a href="{% url 'subscription-plan-edit' plan.uuid %}">
              <i class="fa fa-solid fa-pen text-white mx-2"></i>
            </a>
            <a href="{% url 'subscription-plan-delete' plan.uuid %}">
              <i class="fa fa-solid fa-trash text-white mx-2"></i>
            </a>
        </div>
        {% endif %}

        <div class="card-body">
          <h5 class="card-title" style="color:#e50914;">{{plan.name}}</h5>

          <h3 style="margin:10px 0;">₹{{plan.amount}} / month</h3>

          <ul class="list-unstyled text-start" style="font-size:14px;">
            <li>
              ✔ Devices:  
              {% for device in plan.devices %}
                <span class="me-1">{{ device }}</span>
              {% endfor %}
            </li>

            <li>✔ Quality: {{ plan.quality }}</li>

            <li>✔ Screens: {{ plan.no_of_screens }}</li>

            <li>✔ Downloads Allowed: {{ plan.download_services }}</li>
          </ul>

          <a href="#" class="btn btn-danger mt-3"data-bs-toggle="modal" data-bs-target="#planModal{{plan.id}}">Get {{ plan.name }}</a>
        </div>

      </div>
    </div>

    <div class="modal fade" id="planModal{{plan.id}}" tabindex="-1" aria-labelledby="planModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="planModalLabel">Confirm Your Plan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
        <h6>Plan Details</h6>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Plan Name <span class="fw-bold"> {{plan.name}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Price <span class="fw-bold">₹{{plan.amount}} / month</span>
          </li>
        </ul>
        <p class="text-muted">Please confirm your subscription plan before proceeding with payment.</p>
      </div>
      
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-success"><a href="{% url 'razorpay' plan.uuid %}">Pay Now</a></button> -->
        <a href="{% url 'razorpay' plan.uuid %}"><button class="btn btn-success">Pay Now</button></a>
      </div>
      
    </div>
  </div>
</div>
    {% endfor %}

  </div>
</div>

<script>
function highlightCard(selectedCard) {
  document.querySelectorAll('.plan-card').forEach(card => {
    card.style.border = "1px solid #2a2a2a";
  });
  selectedCard.style.border = "2px solid #e50914";
}
</script>

{% endblock %}
